html,
body,
#app {
   
}

.el-select__placeholder.is-transparent {
    color: rgb(31, 45, 61)!important;
    font-size: 13px!important;
    font-weight: 400!important;
}
.el-select {

}
.el-message-box__title {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1;
    color: #303133;
}
.el-message-box{
    padding: 15px!important;
}
.el-message-box__headerbtn{
    right: 5px!important;
    top: 5px!important;
}
.el-message-box__content{
    color:#303133!important;
}
.el-message-box__headerbtn .el-message-box__close{
    color:#5d5d5d!important;
}
.el-select__wrapper {
    background-color: var(--el-fill-color-blank);
    border-radius: var(--el-border-radius-base);
    border: 1px solid var(--el-border-color);
    box-shadow: none!important;
    cursor: pointer;
    font-size: 13px;
    width: 100px;
    height: 32px;
    line-height: 32px;
    padding: 4px 12px 4px 14px!important;
}
.el-select__wrapper.is-focused {
    box-shadow: 0 0 0 0px var(--el-border-color) inset!important;
    border: 1px solid #4f5bda!important;
}
.el-checkbox__label{
    display: inline-block;
    padding-left: 10px!important;
    line-height: 19px;
    font-size: 14px;
    color: #fff!important;
}
.el-checkbox{
    height: unset!important;
    padding-bottom: 3px!important;
    padding-top: 1px!important;
}
.el-checkbox__inner{
    background-color: transparent !important;
    border-color: #fff !important;
}
:root {
    --el-color-primary:#4f5bda!important;
    --primary: #558BFF;
    --link: #638EFD;
    --tip: #9DACB4;
    --secondary: #999;
    --content: #8E929E;
    --grey: #CECECE;
    --sky: #E4F0FF;
    --green-gradient: linear-gradient(#4EFE2B, #3EBE46);
    --blue-gradient: linear-gradient(#83C3FF, #638EFD);
    --light-blue-gradient: linear-gradient(#C5E3FF, #B9CDFF);
    --sky-gradient: linear-gradient(#D9E9FF, #E8F3FF);
}

.van-toast {
    background: rgba(0, 0, 0, 0.7)!important;
}
.van-dialog__confirm {
    color: #ee0a24!important;
   }
.van-dialog__header {
    font-weight: 500!important;
}

/* Card */

.newsLetter, .main_title, .useOswald{
  font-family: "Oswald", serif;
}
.newsLetter input{
  font-family: "Roboto", sans-serif;
}
.pcontainer{
  max-width: 1500px;
}
.boxShadowGreen{
  box-shadow: 4px 4px 0px #00e785;
}
.boxShadowGreenMini{
  box-shadow: 2px 2px 0px #00e785;
}
.el-checkbox{
    margin: 0px 0px 25px;
    color: rgb(255, 255, 255);
}
@media only screen and (max-width: 600px) {
    .el-select__wrapper {
        width: 100px;
        height: 24px;
    }
    .el-checkbox__label{
        font-size: 12px!important;
        padding-left: .625rem!important;
    }
    .el-checkbox{
        margin: -5px 0px 15px;
    }
}