@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/bg-video";
@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/form";
@import "components/popup";
@import "components/story";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";

@import "pages/home";

@font-face {
  font-family: "helvetica_neue"; 
  src: url('@/assets/font/helvetica_neue.otf') format('opentype'); 
}

.font-helvetica_neue {
  font-family: 'helvetica_neue';
}

html {
  // height: 100%;
  font-size: 12px;
}




body {
  background: #f3f3f3;
  // height: 100%;
  margin: 0 auto !important;
  font-family:'Spotify Mix';
}



.leadership-swipe{
  @include respond(tab-port){
      // min-height: 985px;
      .van-swipe__indicators {
          top:96%!important;
      }
  }
}


.nodata {
  margin-top: 60px;
  color: #9DACB4;

  img {
    width: 150px;
    margin: 0 auto;
  }
}




.rotating {
  animation-name: rotating;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.service_pages_banner{
  background-image: url("/assets/image/our_services_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px 109px;
  width: 100%;
  background-position: 39%;
}
.our_products_banner{
  background-image: url("/assets/image/equity_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px 109px;
  width: 100%;
  background-position: 39%;
}
@media (max-width: 767px) {
  .service_pages_banner,.our_products_banner{
    padding: 0px 0 20px;
  }
}
