.bg-video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    clip-path: inset(120px 0% 110px 0% round 20px); 
    opacity: .55;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
}